{% extends 'base.html.twig' %}

{% block title %}Panier index{% endblock %}

{% block body %}
    <h1>Liste des produit dans le panier</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Quantité</th>
                <th>Prix</th>
                <th>Montant total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for panier in paniers %}
            <tr>
                <td>{{ panier.id }}</td>
                <td>{{ panier.DateAchat ? panier.DateAchat|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ panier.Etat ? 'Yes' : 'No' }}</td>
                <td>Supprimer le produit</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun produit dans le panier </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="#">Payer</a>
{% endblock %}

