{% extends 'base.html.twig' %}

{% block title %}New Panier{% endblock %}

{% block body %}
    <h1>Creer un nouveau panier</h1>

    {{ include('panier/_form.html.twig') }}

    <a href="{{ path('panier_index') }}">retour à la liste des panier</a>
{% endblock %}
