{% extends 'base.html.twig' %}

{% block body %}
<style>
#roles{
	text-decoration: underline;
}
</style>
	{% if users is not empty %}
	<h2 id="roles">Changer les rôles des utilisateurs :</h2>
		<table border="1">
			<thead>
				<tr>
					<th>Email</th>
					<th>Roles</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td>{{ user.email }}</td>
						<td>{{ user.roles|join(', ') }}</td>
						<td>
							<button class="btn btn-outline-secondary"><a href="{{ path('editRole', {'id': user.id}) }}">
								Changer le rôle de l'utilisateur
							</a></button>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>Il n'y a aucun utilisateur</p>
	{% endif %}

{% endblock %}